#include "templates/header.tmpl"
<div class="post">
	<h2 class="title">About Helios</h2>

<p>
The Helios voting system uses cryptography to maintain voter secrecy while proving that it tallies vote correctly.
</p>

<p>
More soon....
</p>

<h3>Credits</h3>
<ul>
<li> Photo credit for sunrise: <a href="http://flickr.com/photos/joka2000/98211504/">http://flickr.com/photos/joka2000/98211504/</a>.</li>
<li> CSS Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></li>
</ul>
</p>

</div>
</div>

#include "templates/footer.tmpl"