
{#if $T.question_num !== null}
<h4>Question: {$T.question.short_name}</h4>
{#else}
<h4>New Question</h4>
{#/if}

<form class="prettyform" id="question_form" onsubmit="BUILDER.save_and_commit_question(); return false;">

<input type="hidden" name="question_num" value="{#if $T.question_num !== null}{$T.question_num}{#/if}" />

<label for="short_name">Short Name:</label>
<input type="text" name="short_name" id="short_name" size="40" value="{$T.question.short_name}" /><br />

<label for="question">Full Question:</label>
<textarea name="question" id="question" cols="40" rows="3" wrap="soft">{$T.question.question}</textarea><br />

<label for="max">Min # of Answers:</label>
<input type="text" name="min" id="min" size="3" value="{$T.question.min || 0}" /><br />

<label for="max">Max # of Answers:</label>
<input type="text" name="max" id="max" size="3" value="{$T.question.max || 1}" /><br />
<!--<input type="hidden" name="max" id="max" value="1" />-->

<label>Possible Answers:</label>
<div id="answers">
{#foreach $T.question.answers as answer}
<input type="text" id="answer_{$T.answer$index}" name="answer_{$T.answer$index}" value="{$T.answer}" />
[<a href="javascript:BUILDER.delete_answer({$T.answer$index});">X</a>]
{#if $T.answer$index >= 1}[<a href="javascript:BUILDER.moveup_answer({$T.answer$index});">^</a>]{#/if}
<br />
<span style="font-size: 0.8em;">URL for more information: <input style="font-size:12pt;" type="text" id ="answer_url_{$T.answer$index}" name="answer_url_{$T.answer$index}" value="{$T.question.answer_urls[$T.answer$index]}" /></span><br />
{#else}
<em>none</em><br />
{#/for}

<a href="javascript:BUILDER.new_question_answer();">add answer</a>
</div>
<br />

<label for="submit">&nbsp;</label>
<input type="submit" value="{#if $T.question_num !== null}Update Question{#else}Add Question{#/if}" />

</form>
<button onclick="BUILDER.show_election(); return false;">Back to Question List</button>
&nbsp;<br />
&nbsp;<br />
&nbsp;<br />
&nbsp;<br />
