#include "templates/header.tmpl"
  <h2 class="title">$election.name -- Drive Tally</h2>

  <p>
      This page will drive the tallying process in chunks, from JavaScript.
  </p>
  
  <p align="center" style="font-size:16pt;">
      <span id="num_votes">0</span> tallied.
  </p>
  
<script>
NUM_VOTES = 0;
var do_next_chunk = function() {
  \$.post("./compute_tally_chunk", function(result) {
     if (result == "DONE") {
        alert('done!');
        document.location = "./view";
    } else {
        NUM_VOTES += 1;
        \$('#num_votes').html(NUM_VOTES);
        do_next_chunk();
    }
  });
};
</script>

<p>
    <button onclick="do_next_chunk();">Start Tally!</button>
</p>
#include "templates/footer.tmpl"