#include "templates/header.tmpl"

<script>
BATCH_SIZE = 10;

function send_email() {
    var form = document.forms['email_form'];
    
    \$.post("email_voters_2", {'introductory_message' : form.introductory_message.value}, function(data) {
       // decide whether or not to keep going
       if (data != "DONE") {
           alert('oy unexpected: ' + data);
       } else {
         alert('done!');
         document.location = "./view";
       }
    });
}
</script>

<h2>$election.name: Email Voters</h2>

<p>
You are about to email all voters in this election. You can fill in the middle part of the email:
</p>

<blockquote>
<form name="email_form" method="post" onsubmit="send_email(); return false;">

<pre>
Dear [VOTER_NAME],
</pre>

<textarea name="introductory_message" cols="60" rows="10" wrap="soft" class="pretty">
</textarea>
<pre>
Your email: [VOTER_EMAIL]
Your password: [VOTER_PASSWORD]
</pre>

</blockquote>

<br />
<br /><br />
<input type="submit" value="send now!" class="pretty" />
</form>

</div>
					
			<!-- end #content -->
#include "templates/footer.tmpl"