#include "templates/header.tmpl"
<div class="post">
  <h2 class="title">Freeze Election: $election.name</h2>
  <div class="entry">
<p>
Once frozen, an election's questions, voting times, and voter list can no longer be modified.
</p>

<p>
You must freeze an election before you can contact voters.
</p>

<form method="post" action="freeze_2">
<input class="pretty" type="submit" value="freeze!" />
<button onclick="document.location='./view'; return false;">never mind</button>
</form>
  </div>
					
</div>
</div>
			<!-- end #content -->
#include "templates/footer.tmpl"