#include "templates/header.tmpl"
<div class="post">
  <h2 class="title">An Election: $election.name</h2>
  <div class="entry">

#if $admin_p
<h3>Administration</h3>
<ul>
#if not $election.is_frozen()
<li> <a href="build">build this election</a></li>
<li> <a href="voters_manage">manage voters</a></li>
<li> <a href="freeze">freeze election</a></li>
#else
<li> <a href="email_voters">email voters</a></li>
<li> <a href="compute_tally">compute tally</a></li>
<li> <a href="decrypt_and_prove">decrypt and prove</a></li>
#end if
</ul>
#end if

<h3>Public Election Information</h3>

#if $election.is_frozen()

<p>Election ID: <b><tt>$election.key()</tt></b><br />
Election Fingerprint: <b><tt>$election.get_hash()</tt></b></p>

<p><a target="_new" href="vote">Vote in this election</a></p>
#else
<p><em>This election is not ready for voting yet. Stay tuned.</em></p>
#end if

<!--
<h3>Election Auditing</h3>

<ul>
<li> <a href="/static/verification-programs/HeliosVerifyBallot.py.txt">Helios Ballot Verification Program</a><br />
This is a Python program that you should run as follows:
<pre>python HeliosVerifyBallot.py audit.txt</pre>
where <tt>audit.txt</tt> is your saved audit information from the ballot casting process.
</li>
#if $election.is_frozen()
<li> <a href="/static/verification-programs/HeliosVerifyElection.py.txt">Helios Election Verification Program</a><br />
This is a Python program that you should run as follows:
<pre>python HeliosVerifyElection.py $election.key()</pre>
because <tt>$election.key()</tt> is the election ID number for this election.<br />
Note that this audit will take some time!
</li>
#else
<li> <em>election verification will be enabled when the election has fully run its course</em>.</li>
#end if
</ul>

-->

#set $result = $election.get_result()
#if $result
<h3>Tally</h3>
#for $i in range(len($election.get_questions()))
#set $q = $election.get_questions()[$i]
<b>$q.short_name</b>:
<ul>
#for $j in range(len($q.answers))
#set $a = $q.answers[$j]
<li> $a: $result[$i][$j]
#end for
</ul>
#end for
#end if


</div>
					
</div>
</div>
			<!-- end #content -->
#include "templates/footer.tmpl"