#include "templates/header.tmpl"
  <h2 class="title">$election.name</h2>

#set $result = $election.get_result()

#if $admin_p
<div style="float:right; border-left: 1px dashed black; padding: 0px 20px 5px 20px;">
<h3>Administration</h3>
#if not $election.is_frozen()
<b>Election under Construction</b>
#else
#if not $election.encrypted_tally and not $result
<b>Election in Progress</b>
#else
#if not $result
<b>Election Done, Ready for Tally</b>
#else
<b>Election Done</b>
#end if
#end if
#end if

<ul>
<li> <a href="voters_manage">voters</a></li><br />

#if not $election.is_frozen()
<li> <a href="build">questions and answers</a></li>

#if $election.get_pk()
<li> <a href="freeze"><em>freeze</em> election and start voting.</a></li>
#else
<li> <a href="keyshares_manage">manage trustees' key shares</a></li>
#end if

#else

#if len($election.get_keyshares()) == 0
#if not $election.encrypted_tally and not $result
#if $election.get_sk()
<li> <a href="drive_tally_chunk">compute tally</a></li>
#else 
<li> <a href="drive_tally">compute tally</a></li>
#end if
#end if
#else
<li> <a href="keyshares_tally_manage">manage trustees' tally</a></li>
#end if

#if $election.encrypted_tally and not $result
<li> <a href="decrypt_and_prove">decrypt and prove</a></li>
#end if

#end if

#if len($election.get_keyshares()) > 0
<li> <a href="email_trustees">email trustees</a></li>
#end if

#if not $election.archived_at
<br /><li> <a href="archive">archive election</a></li>
#else
<br /><br /><em>election archived</em><br />[<a href="./archive?archive_p=0">un-archive</a>]
#end if
</ul>
</div>
#end if

#if $election.is_frozen()

<div id="election_info">
<p>Election ID<br />
<b><tt>$election.election_id</tt></b><br /><br />

Election Fingerprint<br />
<b><tt>$election_obj.get_hash()</tt></b></p>
</div>

<p ><a style="font-size: 18pt;" target="_blank" href="vote">Vote in this election</a> &nbsp;&nbsp;&nbsp;[<a style="font-size: 12pt;" target="_blank" href="../single_ballot_verifier">Audit a Single Ballot</a>] &nbsp; &nbsp; [<a style="font-size: 12pt;" href="bboard">Bulletin Board of Cast Votes</a>]
<br />
#if $result
(the tally has already been computed, but you can view the voting interface anyways.)
#end if


#else
<p><em>This election is not ready for voting yet. Stay tuned.</em></p>
#end if

<br clear="right" />
#if $result
<h2>Tally</h2>
#for $i in range(len($election_obj.questions))
#set $q = $election_obj.questions[$i]
<b>$q.short_name</b>:
<ul>
#for $j in range(len($q.answers))
#set $a = $q.answers[$j]
<li> $a: $result[$i][$j]
#end for
</ul>
#end for

<a style="font-size: 14pt;" target="_blank" href="../verifier">Audit the Election Tally</a><br />
<br /><br />
#end if


#include "templates/footer.tmpl"