#include "templates/header.tmpl"
<div class="post">
  <h2 class="title">$election.name</h2>

#if $admin_p
<div style="float:right; border-left: 1px dashed black; padding: 0px 20px 5px 20px;">
<h3>Administration</h3>
<ul>
#if not $election.is_frozen()
<li> <a href="build">build this election</a></li>
<li> <a href="voters_manage">manage voters</a></li>
<li> <a href="freeze">freeze election</a></li>
#else
<li> <a href="email_voters">email voters</a></li>
<li> <a href="compute_tally">compute tally</a></li>
<li> <a href="decrypt_and_prove">decrypt and prove</a></li>
#end if
</ul>
</div>
#end if

#if $election.is_frozen()

<p>Election ID: <b><tt>$election.key()</tt></b><br />
Election Fingerprint: <b><tt>$election.get_hash()</tt></b></p>

<p><a target="_new" href="vote">Vote in this election</a></p>
#else
<p><em>This election is not ready for voting yet. Stay tuned.</em></p>
#end if

<br clear="right" />
#set $result = $election.get_result()
#if $result
<h3>Tally</h3>
#for $i in range(len($election.get_questions()))
#set $q = $election.get_questions()[$i]
<b>$q.short_name</b>:
<ul>
#for $j in range(len($q.answers))
#set $a = $q.answers[$j]
<li> $a: $result[$i][$j]
#end for
</ul>
#end for
#end if


</div>
					
</div>
</div>
			<!-- end #content -->
#include "templates/footer.tmpl"