#include "templates/header.tmpl"

<script language="javascript">
\$(document).ready(function() {
  \$('#input_name').focus();
});
</script>

<h2 class="title">$election.name &mdash; Voters <span style="font-size:0.7em;">[<a href="./view">done</a>]</span></h2>

#if $election.openreg_enabled
<p>
    You have opted for <b>open voter registration</b>, which means anyone can vote. To enable some amount of verification, voters are still asked to authenticate upon casting their vote, either using OpenID or email address verification.
</p>

<br /><br />

<form method="post" action="./set_reg"><input type="hidden" name="open_p" value="0" /><input class="pretty" type="submit" value="switch to closed registration" /></form>

#else

#if len($voters) == 0
<form method="post" action="./set_reg"><input type="hidden" name="open_p" value="1" /><input class="pretty" type="submit" value="switch to open registration" /></form>
#end if

<table class="pretty">
<tr><th>Name</th><th>Email</th><th></th></tr>
#for $voter in $voters
<tr><td>$voter.name</td><td>$voter.email</td>
<td>
<form method="post" action="voters/$voter.voter_id/delete" onsubmit="return confirm('You\'re about to delete $voter.email...');">
<input type="hidden" name="email" value="$voter.email" />
<input type="submit" value="delete" class="pretty" />
</form>
</td>
</tr>
#end for
<form method="post" action="voters/">
<tr>
<td><input type="text" name="name" size="30" class="pretty" id="input_name" /></td>
<td><input type="text" name="email" size="30" class="pretty" /></td>
<td><input type="submit" value="add" class="pretty" /></td>
</tr>
</form>
</table>

#end if
			<!-- end #content -->
#include "templates/footer.tmpl"
