
body {
  font-family: Arial;
  background: #bbb;
  padding: 0px;
  margin: 0px;
}

#content {
  padding: 30px 30px 20px 30px;
  margin: auto;
  margin-top: 20px;
  width: 860px;
  background: #ffc;
  border: 1px solid black;
}

#header {
  padding-top: 0px;
  text-align: center;
  padding-bottom: 20px;
}

#header h1 {
  font-size: 36pt;
  padding: 0px;
  margin: 0px;
  line-height: 120%;
}

#header h2 {
  font-size: 20pt;
  padding: 0px;
  margin: 0px;
  line-height: 100%;
  font-weight: none;
}

#footer {
  margin: auto;
  width: 860px;
  text-align: center;
  color: #666;
}

#footer a, #footer a:visited {
  color: #ff9;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#page h2 {
  background: #fc9;
  border-bottom: 1px solid #f90;
  padding: 5px 0px 2px 5px;
}

#election_info {
  font-size: 16pt;
}