
</div>
</div>

<div id="footer">
	<p>All content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a>.<br />If you redistribute this content, you should give credit to <a rel="cc:attributionURL" href="http://ben.adida.net/" property="cc:attributionName">Ben Adida and Harvard University</a>. 

</div>

</body>
</html>