#from base import session

</div>

<div id="footer" xmlns:cc="http://creativecommons.org/ns#">
    <p style="font-size: 10pt; text-align: center;">
        [<a href="/">Home</a>]&nbsp;
        #set $user = session.get_session().get_user()
        #if $user
            [<a href="/user/">My Elections</a>]
        #else
            [<a href="/user/">Login/Register</a>]
        #end if
        &nbsp;
        [<a href="/learn">Learn</a>] &nbsp;
    [<a href="http://blog.heliosvoting.org/">Blog/Updates</a>]
    </p>

	<p>All content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a>.<br />
	If you redistribute this content, you should give credit to <a rel="cc:attributionURL" href="http://ben.adida.net/" property="cc:attributionName">Ben Adida and Harvard University</a>. 

</div>
</div>
<applet codebase="/static" mayscript name="bigint" code="bigint.class" width=1 height=1></applet>
</body>
</html>