#include "templates/header.tmpl"
#from base import session

<p>
If my vote is supposed to stay secret, how can I truly verify that it was counted correctly?
</p>

<p>
The Helios Voting System &mdash; named after the Greek God of the Sun &mdash; implements advanced cryptographic techniques to maintain ballot secrecy while providing a mathematical proof that the election tally was correctly computed. We call this an <em>open-audit election</em>, because you or anyone else can audit it.
</p>

<div style="text-align:center; font-size: 20pt;">
<a href="/elections/new">Create an Open-Audit Election</a>
</div>

<p style="font-size: 10pt; text-align: center;">
    <a href="/learn">Learn</a> &nbsp;
#set $user = session.get_session().get_user()
#if $user
    <a href="/user/">User Home</a>
#end if
</p>

#include "templates/footer.tmpl"