#include "templates/header.tmpl"
<div class="post">
	<h2 class="title"><a href="#">Elections <em>you</em> can audit</a></h2>
	<div class="entry"> <img src="/static/images/sunrise.jpg" alt="" height="120" class="left" />
<p>
Secret-ballot elections are inherently difficult to audit: how can one ensure that ballots were correctly tallied when it is of paramount importance to keep individual ballot content secret?
</p>

<p>
The Helios voting system &mdash; named after the Greek God of the Sun &mdash; implements cryptographic techniques to maintain ballot secrecy while providing a mathematical proof that the tally was correctly computed.
</p>

		<p>
		  Because Helios is used over the Internet rather than in-person at a voting precinct, you should <em>never use Helios when your election is at risk of coercion</em>. Use Helios for student elections, local clubs and online communities. Do <em>not</em> use Helios for union, governmental, or other high-stakes elections. <a href="about/online-voting">Learn more</a> about the problems of online voting (or vote-by-mail).
		</p>

	</div>
	<h2 style="text-align: right;"><a href="election/new"> &gt; Create a New Election</a></h2>
	
<!--					<p class="meta"> <span class="posted">Posted by <a href="#">Someone</a> on December 17, 2007</span> <a href="#" class="permalink">Read more</a> <a href="#" class="comments">Comments (18)</a> </p>-->
					</div>
			<!-- end #content -->
</div>

#include "templates/widebar.tmpl"

#include "templates/footer.tmpl"