#include "templates/header.tmpl"
<div class="post">
	<h2 class="title">Learn about Helios</h2>
	<div class="entry">

<object type="application/x-shockwave-flash" data="http://blip.tv/scripts/flash/showplayer.swf?autostart=false&brandlink=http%3A//.blip.tv/&showplayerpath=http%3A//blip.tv/scripts/flash/showplayer.swf&file=http%3A//blip.tv/bookmarks/rss/159236&user=benadida&tabType1=details&tabType2=details&tabUrl2=http%3A//blip.tv/rss/bookmarks/159236" width="640" height="368" allowfullscreen="true" id="showplayer"><param name="movie" value="http://blip.tv/scripts/flash/showplayer.swf?autostart=false&brandlink=http%3A//.blip.tv/&showplayerpath=http%3A//blip.tv/scripts/flash/showplayer.swf&file=http%3A//blip.tv/bookmarks/rss/159236&user=benadida&tabType1=details&tabType2=details&tabUrl2=http%3A//blip.tv/rss/bookmarks/159236" /><param name="quality" value="best" /><param name="allowScriptAccess" value="always" /></object>
	</div>
	
</div>
			<!-- end #content -->
</div>

#include "templates/footer.tmpl"