#include "templates/header.tmpl"
	<h2 class="title">Learn about Helios</h2>

<ul>
    <li> Usenix Security 2008 Paper [<a href="http://www.usenix.org/events/sec08/tech/full_papers/adida/adida.pdf">PDF</a>]</li>
    <li> Usenix Security 2008 Presentation [<a href="http://ben.adida.net/presentations/2008-08-01-helios-usec2008.pdf">PDF</a>]</li>
    <br /><br />
    <li> <a href="/faq">Frequently Asked Questions</a>
    <br /><br />
    <li> Videos coming soon...</li>
</ul>


#include "templates/footer.tmpl"