<div id="sidebar">
	<ul>
		<li>
			<h3>Create Your Election</h3>
			<p>
			  Need to run election for your student government, your local club, or your online community? <a href="election/new">Start here</a>.
		</li>
		<li>
			<h3>Vote!</h3>
			<p>
			  Did you receive an email asking you to participate in a Helios-powered election? <a href="election/vote">Go Vote</a>.
			</p>
		</li>
	</ul>
</div>
<!-- end #sidebar -->
