	<div style="clear: both;">&nbsp;</div>
			<div id="widebar">
				<div id="colA">
					<h3>Open Audit Elections</h3>
					<p>
					  Helios Voting implements advanced technology that enables <em>open-audit elections</em>, meaning an election where anyone can audit that votes were properly tallied. And yes, your vote is still secret.
				  </p>
				</div>
				<div id="colB">
					<h3>Who We Are</h3>
					<p>
					  Helios Voting is a free service provided to you by <a href="http://harvard.edu">Harvard University</a>'s <a href="http://crcs.seas.harvard.edu">Center for Research on Computation and Society</a>. The project is run by <a href="http://ben.adida.net/">Ben Adida</a>. 
					</p>
				</div>
				<div id="colC">
					<h3>Latest News</h3>
<p>
<b>01/30/2008</b>: HeliosVoting.org launched!
				</div>
<br clear="both"/>
</div>