
<div id="questions_div">
<p>
    Welcome to the <b>{$T.election.name}</b> election.
</p>

<p>
    To cast a vote, you will be led through the following steps:
<p>
    
<ol>
    <li> <b>Select</b> your options.<br />
<span style="font-size: 14pt;">Answer every question, and review your choices.</span></li>
<br />

    <li> <b>Encrypt</b> your selection.<br />
<span style="font-size: 14pt;">Your selection is encrypted safely inside in your browser. At this point, you are not yet logged in: anyone can create an encrypted ballot and verify that it was encrypted correctly.</span>
</li>
<br />

    <li> <b>Submit</b> your encrypted ballot.<br />
<span style="font-size: 14pt;">Authenticate and submit your encrypted ballot for tallying.</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Start</button></div>
</div>

