
<div id="questions_div">
<p>
    Welcome to the <b>{$T.election.name}</b> election.
</p>

<p>
    As you fill out your ballot over the next few screens, your ballot is kept inside your browser's memory and never sent over the network. Once you seal and cast your ballot, the cleartext information is deleted, and only the encrypted ballot remains to be sent over the network for tallying.
</p>

<p>
    You will only be asked for your email and password once your ballot is encrypted.
</p>

<br /><br />
<div align="center"><button onclick="BOOTH.show_question(0);">Start</button></div>
</div>

