
<h3>Submit your Cast Ballot</h3>

<p>
Your ballot has now been <b><em>cast</em></b> (think of it as "cast in stone"). In parallel, all plaintext information about your ballot has been removed from memory: all that remains is the encrypted vote.
</p>

<p>
Your encrypted vote fingerprint is: <b><tt>{$T.encrypted_vote_hash}</tt></b>
</p>

<p>
Now, it's time to send your encrypted vote. We need your login information to ensure you are a registered voter for this election. (Notice how we didn't ask for this information until your ballot was encrypted and there is no plaintext information left.)
</p>

<form onsubmit="BOOTH.send_ballot(); return false;" action="#" id="send_ballot_form" class="prettyform">
<label for="email">Email:</label>
<input type="text" name="email" size="40" /><br />
<label for="password">Password:</label>
<input type="password" name="password" size="40" /><br/>

<input type="submit" value="send" class="pretty" />
</form>

