<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8" /> 
  <title>Helios Voting System</title>
  <link rel="stylesheet" type="text/css" href="/static/booth.css" />
  <link rel="stylesheet" type="text/css" href="/static/forms.css" />
  <script language="javascript" src="/static/jquery-1.2.2.min.js"></script>
  <script language="javascript" src="/static/jquery-jtemplates.js"></script>
  <script language="javascript" src="/static/class.js"></script>  
  <script language="javascript" src="/static/jquery.json.min.js"></script>
  <script language="javascript" src="/static/bigint.js"></script>
  <script language="javascript" src="/static/random.js"></script>
  <script language="javascript" src="/static/elgamal.js"></script>
  <script language="javascript" src="/static/sha1.js"></script>
  <script language="javascript" src="/static/helios.js"></script>
<script language="javascript">
var API_HOST = '{{utils.get_host}}';
var API_PREFIX = '{{utils.get_prefix}}';
</script>
<script language="javascript" src="/static/helios-api.js"></script>
</head>
<body>
<div id="wrapper">
<div id="banner">Helios Voting Booth</div>
<div id="content">

{% block content %}{% endblock %}

<br clear="both" />
</div>
</div>
<div id="applet_div">
</div>
</body>
</html>