{% extends "base.html" %}
{% block content %}
<div style="float:right;">
    <img style="width: 400px; border:3px solid black; margin-left: 20px;" src="/static/transparentballotbox.jpg" />
</div>

<p style="font-size: 16pt;">
If my vote is supposed to stay secret, how can I verify that it was counted correctly?
</p>

<p>
The Helios Voting System implements advanced cryptographic techniques to maintain ballot secrecy while providing a mathematical proof that the election tally was correctly computed.
</p>

<p>
    We call this an <em>open-audit election</em>,<br />because you or anyone else can audit it.
</p>

<p>
    Check out our <a href="{% url helios.views.faq %}">Frequently Asked Questions</a>.
</p>

<br clear="right" /><br />

<div style="text-align:center; font-size: 20pt;">
<a href="{% url helios.views.election_new %}">Create an Open-Audit Election</a><br /><br />
</div>
{% endblock %}