{% extends "base.html" %}
{% block content %}
<script>
BATCH_SIZE = 10;

function send_email(after) {
    $('#submit').hide();
    $('#processing').show().html("sending a batch of up to 5 emails (starting with " + (after||"the first") + ")");
    
    var form = document.forms['email_form'];
    
    params = {'introductory_message' : form.introductory_message.value};
    
{% if voter_ids %}
    params['voter_ids'] = '{{voter_ids}}';
{% endif %}
    
    if (after) {
        params.after = after;
    }
    
    params.limit = "5";
    
    $.post("voters_email_2", params, function(data) {
       // decide whether or not to keep going
       if (data != "DONE") {
           setTimeout("send_email('" + data + "')", 65000);
           $('#processing').show().html("waiting for one minute for quotas to reset.... don't quit me!");
       } else {
         alert('done!');
         document.location = "./view";
       }
    });
}
</script>

<h2>{{election.name}}: Email Voters</h2>

{% if voters %}
<p>
    You are about to email <b>the following voters</b>:
{% for v in voters %}
{{v.name}}, 
{% endfor %}
<br />
    You can fill in the middle part of the email:
</p>
{% else %}
<p>
You are about to email all voters in this election. You can fill in the middle part of the email:
</p>
{% endif %}

<blockquote>
<form name="email_form" method="post" onsubmit="send_email(); return false;">

<pre>
Dear [VOTER_NAME],
</pre>

<textarea name="introductory_message" cols="60" rows="10" wrap="soft" class="pretty">
</textarea>
<pre>
Your email: [VOTER_EMAIL]
Your password: [VOTER_PASSWORD]
</pre>

</blockquote>

<br />
<br /><br />
<input type="submit" value="send now!" class="pretty" id="submit" />
<div id="processing" style="display: none;">
    Processing Email... this will take approximately 2 seconds per voter, as we have to batch emails and pause between batches.
</div>
</form>
<br /><br />

{% endblock %}