#include "templates/header.tmpl"
<div class="post">

<p>
You have successfully verified your email address $user.email.
</p>

<p>
You can now <a href="./">log in</a>.
</p>

</div>
</div>
#include "templates/footer.tmpl"