#include "templates/header.tmpl"
  <h2 class="title">$user.nickname</h2>

<p>
[<a href="logout">Log out</a>]
</p>

  <h3>Elections you Manage
#if $include_archived
<span style="font-size: 12pt;">[<a href="./">exclude archived</a>]</span>
#else
<span style="font-size: 12pt;">[<a href="./?include_archived=1">include archived</a>]</span>
#end if
</h3>
  <ul>
#for $e in $elections
  <li> <a href="/elections/$e.key/view">$e.name</a></li>
#end for
<br />
  <li> <a href="/elections/new">create a new election</a>
  </ul>
					
#include "templates/footer.tmpl"